body {
    background-color: #FCCC0A;
}


*{ 
    margin: 0px;   
    padding: 0px;
    box-sizing: border-box;
}
nav{ 
    width:100%;
    background-color: darkblue ;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}
nav ul{ 
    display: flex;
    justify-content: center;
    align-items: center;
}
nav ul li{ 
    list-style: none;
    padding: 0px 5px;
}
nav ul li a{ 
    color: yellow ;
    font-size: 15px;

}

h1{ 
    font-family: 'IBM Plex Sans', sans-serif;
    padding-top: 3%;
    padding-left: 3%;
}

#about { 
    font-family: 'IBM Plex Sans', sans-serif;
    text-align: center;
    padding-top: 3%;
    padding-left: 3%;
    padding-right: 3%;
    color: black;
}

#indexh1 {
    text-align: center;
    padding-bottom: 3%;
}

.navbar {
    background-color: #0000ff;
    padding: 15px;
    color: white;
    margin-bottom: 20px;
  }

  .button {
    background-color: #0000ff;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
  }

  .button:hover {
    background-color: #000099;
  }

  #result {
    background-color: #FCCC0A;
    padding: 20px;
    border-radius: 5px;
    margin-top: 20px;
  }

  pre {
    white-space: pre-wrap;
    word-wrap: break-word;
  }

  .feedback-form,
  .search-form {
    margin-bottom: 20px;
  }