

/* Global Styles */

* {

    box-sizing: border-box;

}


h1{
    color: white;
    font-family: 'Roboto Mono', monospace;
    display: inline-block;
    padding: 15px;
    margin-right: 0px;
}

body {
    background-color:black;
    font-family: 'Roboto Mono', monospace;
    margin: 0px;
}

/* Progrss bar Styling */

.bar_header{
 position:fixed;
 top: 0;
 z-index: 1;
 width: 100%;
 background:gainsboro ;
}

.progress {
    width: 100%;
    height: 8px;
    background: gainsboro;
 
} 

.bar {
    height: 8px;
    background: green;
    width: 0%;
}


/* Navigation Bar Styling */

.navb {
    margin-right: 30px;
    padding-left: 1rem;
    padding-top: 1rem;
    font-size: 1.2rem;
}

nav{ 
    width:100%;
    background-color: black ;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 2px;
}

nav ul{ 
    display: flex;
    justify-content: center;
    align-items: center;
}
nav ul li{ 
    list-style: none;
    padding: 0px 5px;
}
nav ul li a{ 
    color: white;
    font-size: 15px;

}

#header {
    margin: 10px;
    padding-left: 1rem;
    font-size: 1.2rem;
}



/* c1 Intro Styling */


#c1 {
    height: 100vh;
    background-color:black;

}


.headingc {
    display: flex;
    align-items: center; 
    margin-top: 5%;
}

.intro {
    color: white;
    font-family: 'Roboto Mono', monospace;
    font-size: 70px;
    font-weight: bolder;
    text-align: center;
    margin-left: 0;
    flex: 4;
    display: inline-block;
}

.image {
    text-align: center;
    flex: 1;
    height: 50%;
   
}

.image img {
    width: auto;
    display: block;
    margin: 20px;
    margin-right: 0;
    max-height: 600px;
}

.rotate {
    color: white;
    font-family: 'Roboto Mono', monospace;
    font-size: 60px;
    font-weight: bolder;
    margin-left: 20px;
    text-align: center;
    flex: 4;
}


span {
  color: rgb(30, 154, 30);
}


.intro2 { 
    color: white;
    font-family: 'Roboto Mono', monospace;
    font-size: 30px;
    font-weight: bolder;
    margin-left:20px ;
    margin-top: 20px;
    text-align: center;
}

.search {
    color: white;
    font-family: 'Roboto Mono', monospace;
    font-size: 45px;
    font-weight: bolder;
    margin-left:20px ;
    margin-top: 20px;
    text-align: center;
    flex: 1;
}


/* About Me Styling C2 */

#about_me {
    background-color: white;
    flex-wrap: wrap;
    font-family: 'Roboto Mono', monospace;
    margin: 0px;
    text-align: center;
    color: black;
    height:60vh;
}

/* Programing Languages Styling C2 */

.about_wrapper {
    display: flex;
    justify-content: space-around;
    padding: 30px;
}

.about_container_markup,.about_container_language, .softwares {
  flex: 1;
  align-items: center;
  align-content: center;
}


.about_language_markup, .about_container_language,
.about_language_certification, .about_language_softwares { 
    margin-top: 20px;
    font-size: 25px;
    font-weight: bolder;


}


.about_logo_coding, .about_logo_markup{
 margin: 20px; 
}



.p_coding, .p_markup {
    margin-top: 0;
    font-family: 'Roboto Mono', monospace;
    font-size: 20px;


}

.p_certificate {
    font-family: 'Roboto Mono', monospace;
    font-size: 20px;

}


/* C3 Projects Styling */

#c3 {
    background-color:black;
    font-family: 'Roboto Mono', monospace;
    margin: 0px;
    text-align: center;
    height: 105vh;
}

.button_styling {
    color: black;
    width: 300px;
    height: 100px;
}

#update {
    color: white;
    font-family: 'Roboto Mono', monospace;
    font-size: 60px;
    font-weight: bolder;
    margin-left: 20px;
    text-align: center;
}


/* Contact Me Styling C4 */

#c4 {
    background-color:white;
    font-family: 'Roboto Mono', monospace;
    margin: 0px;
    text-align: center;
    color: black;
    height: 40vh;
}

#click_info {
    font-family: 'Work Sans', sans-serif;   
    text-align: center; 
    margin-top: 0px;
}

.contact_d {
    font-family: 'Work Sans', sans-serif;   
    text-align: center; 
}


.row {
    display: flex;
    justify-content: space-around;
}

.column {
    flex: 1;
}

/* Other Styles */

.vbar {
    animation: blinker 1.0s linear infinite;
    color: white;
    font-family: 'Roboto Mono', monospace;
    font-weight: bolder;
    font-size: 35px;
    margin-left: 0;
    background-color: red;
}


.vbar-black {
    animation: blinker 1.0s linear infinite;
    color: black;
    font-family: 'Roboto Mono', monospace;
    font-weight: bolder;
    font-size: 35px;
    margin-left: 0px;
    background-color: red;
}

/* Keyframes */
@keyframes blinker{
    50% { 
        opacity: 0
    }
}

.introgreen {
    color: black;
    font-family: 'Roboto Mono', monospace;
    font-size: 30px;
    font-weight: bolder;
    padding: 15px;
    margin-right: 0;
}

.about_language_H {
    font-family: 'Work Sans', sans-serif;    
    font-size: 30px;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 0;
    text-align: center;
}

.l_type {
    font-family: 'Work Sans', sans-serif;    
    font-size: 20px;
    margin-top: 0;
}

/* End */

