

/* Global Styles */

* {

    box-sizing: border-box;

}
h1{
    color: white;
    font-family: 'Roboto Mono', monospace;
    display: inline-block;
    padding: 15px;
    margin-right: 0px;
}

body {
    background-color:black;
    font-family: 'Roboto Mono', monospace;
    margin: 0px;
}

/* Navigation Bar Styles */

/*
.navb {
    margin-right: 30px;
    
}

nav{ 
    width:100%;
    background-color: black ;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 2px;
}

nav ul{ 
    display: flex;
    justify-content: center;
    align-items: center;
}
nav ul li{ 
    list-style: none;
    padding: 0px 5px;
}
nav ul li a{ 
    color: white;
    font-size: 15px;

}

#header {
    margin: 10px;
    padding-left: 1rem;
    font-size: 1.2rem;

}

/* Intro Styling C1 */


/*  #c1 {
    height: 28vh;
    background-color:black;
} */


#header {
    margin: 10;
    padding-left: 1rem;
    font-size: 1.2rem;

}

.headingc {
    display: flex;
    align-items: center; 
}

.intro {
    color: white;
    font-family: 'Roboto Mono', monospace;
    font-size: 70px;
    font-weight: bolder;
    text-align: center;
    margin-left: 0;
    flex: 4;
    display: inline-block;
}

.image {
    text-align: center;
    flex: 1;
    height: 10;
   
}

.image img {
    width: auto;
    display: block;
    margin: 20;
    margin-right: 0;
    max-height: 600px;
}

.rotate {
    color: white;
    font-family: 'Roboto Mono', monospace;
    font-size: 60px;
    font-weight: bolder;
    margin-left: 20px;
    text-align: center;
    flex: 4;
}


span {
  color: rgb(30, 154, 30);
}


.intro2 { 
    color: white;
    font-family: 'Roboto Mono', monospace;
    font-size: 30px;
    font-weight: bolder;
    margin-left:20px ;
    margin-top: 20px;
    text-align: center;
}

.search {
    color: white;
    font-family: 'Roboto Mono', monospace;
    font-size: 45px;
    font-weight: bolder;
    margin-left:20px ;
    margin-top: 20px;
    text-align: center;
    flex: 1;
}



/* Contact Me Styling C4 */


#c4 {
    background-color:azure;
    font-family: 'Roboto Mono', monospace;
    margin: 0px;
    text-align: center;
    color: black;
    height: 100vh;

} 




#click_info {
    font-family: 'Work Sans', sans-serif;   
    text-align: center; 
    margin-top: 0px;

}

.contact_d {
    font-family: 'Work Sans', sans-serif;   
    text-align: center; 

}


.row {
    display: flex;
    justify-content: space-around;


}

.column {
    flex: 1;
}




/* Other Styles */



.vbar {
    animation: blinker 1.0s linear infinite;
    color: white;
    font-family: 'Roboto Mono', monospace;
    font-weight: bolder;
    font-size: 35px;
    margin-left: 0px;
    background-color: red;
}


.vbar-black {
    animation: blinker 1.0s linear infinite;
    color: black;
    font-family: 'Roboto Mono', monospace;
    font-weight: bolder;
    font-size: 35px;
    margin-left: 0px;
    background-color: red;
}

/* Keyframes */
@keyframes blinker{
    50% { 
        opacity: 0
    }
}


.introgreen {
    color: black;
    font-family: 'Roboto Mono', monospace;
    font-size: 30px;
    font-weight: bolder;
    padding: 15px;
    margin-right: 0;
}


/* About Me Styling C2 */

#about_me {
    background-color: white;
    flex-wrap: wrap;
    font-family: 'Roboto Mono', monospace;
    margin: 0px;
    text-align: center;
    color: black;
    height: 100vh;
}



.about_language_H {
    font-family: 'Work Sans', sans-serif;    
    font-size: 30px;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 0;
    text-align: center;
    
}

.l_type {
    font-family: 'Work Sans', sans-serif;    
    font-size: 20px;
    margin-top: 0;

}


/* Projects Styling C3 */




#c3 {

    height: 100vh;
}




#c3 {
    background-color:black;
    font-family: 'Roboto Mono', monospace;
    margin: 0px;
    text-align: center;
}

#update {
    color: white;
    font-family: 'Roboto Mono', monospace;
    font-size: 60px;
    font-weight: bolder;
    margin-left: 20px;
    text-align: center;



}


/* End */

